@{
    Layout = "_Layout";
}

<main>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-justify" style="margin:20px;">
            <h4>Welcome</h4>
            <p>
                My name is Kamil Wójcik and I am a Junior Web Developer. This site which you browse  is my independent project which I planned and executed after
                the two-month .NET course (C #) developer: Web in CodersLab (Wrocław, Poland).
            </p>
            <p>
                The application is made in the ASP.NET Core MVC 2 framework. Entity Framework was used to connect to the database. Part of the subpages is generated
                without reloading thanks to the use AJAX technology. Styling was done using the Bootstrap library.
            </p>
            <img class="img-fluid" src="~/img/cv.jpg" />
        </div>
        <div class="col-lg-3"></div>
    </div>
</main>
